backend/__pycache__/
backend/env/
backend/venv/
*.pyc
frontend/dist/
frontend/build/
backend/build/
*.log
frontend/node_modules/
backend/.env
frontend/.env
frontend/.env.local
backend/.env.local
coverage/
.vscode/
.DS_Store
Thumbs.db
